.appContainer {
  /* overscroll behavior doesn't work on safari */
  /* https://caniuse.com/#feat=css-overscroll-behavior */
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20vw 0 20vw;

  @media (max-width: 800px) {
    padding: 0 10vw 0 10vw;
  }
}

.innerContainer {
  background: linear-gradient(
    107.18deg,
    rgba(255, 255, 255, 0.7) 1.84%,
    rgba(255, 255, 255, 0.4) 100%
  );
  padding: 2vw;

  border-radius: 4px;
  height: 15vh;
}
