body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(106, 198, 26);
  background: -moz-linear-gradient(
    202deg,
    rgba(106, 198, 26, 1) 0%,
    rgba(0, 155, 204, 1) 50%,
    rgba(0, 212, 255, 1) 75%
  );
  background: -webkit-linear-gradient(
    202deg,
    rgba(106, 198, 26, 1) 0%,
    rgba(0, 155, 204, 1) 50%,
    rgba(0, 212, 255, 1) 75%
  );
  background: linear-gradient(
    202deg,
    rgba(106, 198, 26, 1) 0%,
    rgba(0, 155, 204, 1) 50%,
    rgba(0, 212, 255, 1) 75%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6ac61a",endColorstr="#00d4ff",GradientType=1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overscroll-behavior: none;
}
